<% content_for :title, "Editar Lista" %>

<h1>Editar Lista</h1>

<%= render "form", lista: @lista %>

<br>

<div>
  <%= link_to "Voltar para a Lista", @lista %> |
  <%= link_to "Voltar para todas as listas", listas_path %>
</div>
