<% content_for :title, "Nova Lista" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-danger text-white">
          <h5 class="mb-0">Criar nova lista</h5>
        </div>
        <div class="card-body">
          <%= render "form", lista: @lista %>

          <div class="mt-3">
            <%= link_to "Voltar para as listas", listas_path, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
