<div class="container mt-5 text-center">
  <h1 class="mb-4">Bem-vindo ao TodoList!</h1>
  <p class="lead mb-4">
  Este site foi desenvolvido como parte de um <strong>teste técnico para a V360</strong>.<br>
  O objetivo é demonstrar habilidades em Ruby on Rails, organização de código, boas práticas de autenticação e uma interface simples para o gerenciamento de tarefas e listas.
  </p>
  <p class="mb-4">
    Cadastre-se ou faça login para testar a aplicação!
  </p>
  <p class="lead">Organize suas tarefas com eficiência.</p>
  <%= link_to "Entrar", new_usuario_session_path, class: "btn btn-primary me-2" %>
  <%= link_to "Cadastrar", new_usuario_registration_path, class: "btn btn-outline-light" %>
</div>
