<div class="container mt-5 text-center">
  <h1 class="mb-4">Bem-vindo ao TodoList!</h1>
  <p class="lead">Organize suas tarefas com eficiência.</p>
  <%= link_to "Entrar", new_usuario_session_path, class: "btn btn-primary me-2" %>
  <%= link_to "Cadastrar", new_usuario_registration_path, class: "btn btn-outline-light" %>
</div>
